<div class="container container-contact">
  <div class="row back-bg-white-text">
    <div class="al-info col-md-6 text-right">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="alex-contact">
            <div class="underline">
              Alex's Contact Info
            </div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            Email: 
            <a href="mailto:<%= ENV['alex_email'] %>"><%= "#{ENV['alex_email']}" %></a>
            <br>
            Phone: 
            <a href="tel:<%= ENV['alex_phone'] %>"><%= "#{ENV['alex_phone']}" %></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="justin-contact">
            <div class="underline">
              Justin's Contact Info
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            Email: 
            <a href="mailto:<%= ENV['justin_email'] %>"><%= "#{ENV['justin_email']}" %></a>
            <br>
            Phone: 
            <a href="tel:<%= ENV['justin_phone'] %>"><%= "#{ENV['justin_phone']}" %></a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
<div>