<section class="slide" id="home" data-slide="1" data-stellar-background-ratio="0.5">
  <div class="text-center center-block">
    <h1 id="welcome" class="centered"> Welcome to Justin & Alex's Wedding Website! </h1>
  </div>
</section>

<section class="slide" id="about" data-slide="1" data-stellar-background-ratio="0">
  <%= erb :about %>
</section>

<section class="slide" id="details" data-slide="1" data-stellar-background-ratio="0">
  <%= erb :details %>
</section>

<section class="slide" id="hotels" data-slide="1" data-stellar-background-ratio="0">
  <%= erb :hotels %>
</section>

<section class="slide" id="registries" data-slide="1" data-stellar-background-ratio="0">
  <%= erb :registries %>
</section>

<section class="slide" id="contact" data-slide="1" data-stellar-background-ratio="0">
  <%= erb :contact %>
</section>