<section id="home" data-stellar-background-ratio="0.4">
  <div class="text-center center-block">
    <div class="centered"> 
      <h1 id="welcome" class="welcome-title"> Justin & Alex </h1>
      <h1 id="welcome"> are getting married! </h1>  
    </div>
  </div>

    <div class="bottom">
      <span id="down-arrow" class="down-arrow glyphicon glyphicon-chevron-down"></span>
    </div>
</section>

<section id="about">
  <%= erb :about %>
</section>

<div class="blue"></div>
<div class="space"></div>

<section id="gallery" data-stellar-background-ratio="0.5">
  <%= erb :gallery %>
</section>

<div class="space"></div>
<div class="blue"></div>

<section id="details">
  <%= erb :details %>
</section>

<div class="blue"></div>
<div class="space"></div>
<div class="blue"></div>

<section id="hotels">
  <%= erb :hotels %>
</section>

<section id="registries" data-stellar-background-ratio="0.5">
  <%= erb :registries %>
</section>

<section id="guestbook" >
  <%= erb :guestbook %>
</section>

<section id="contact" data-stellar-background-ratio="0.5">
  <%= erb :contact %>
</section>

<%= erb :photoswipe %>
