<section id="home" data-stellar-background-ratio="0.4">
  <div class="text-center center-block">
    <h1 id="welcome" class="centered"> Welcome to Justin & Alex's Wedding Website! </h1>
  </div>
</section>

<section id="about">
  <%= erb :about %>
</section>

<div class="blue"></div>

<div class="space"></div>

<section id="gallery" data-stellar-background-ratio="0.5">
  <%= erb :gallery %>
</section>

<div class="space"></div>

<div class="blue"></div>

<section id="details">
  <%= erb :details %>
</section>

<section id="hotels">
  <%= erb :hotels %>
</section>

<section id="registries">
  <%= erb :registries %>
</section>

<section id="contact" data-stellar-background-ratio="0.5">
  <%= erb :contact %>
</section>

<%= erb :photoswipe %>